// Colors

$primary1: #ffffff;
$primary2: #000000;
$primary3: #cebd88;
$primary4: #28364b;

// Fonts
$main_font: " Montserrat ", sans-serif;
$pop_font: "Poppins", sans-serif;
$dance_font: "Dancing Script", cursive;
$cinzel_font: "Cinzel", serif;

//Breakpoints
$laptop: 991px;
$tablet: 768px;
$mobile_landscape: 480px;
$mobile_portrait: 320px;
